* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    background-color: #e5e5e5;
}

.navigation-list li {
    text-align: center;
    border-right: 1px solid white;
    max-width: 205px;
    padding: 0 20px;
}

.navigation-list li:last-child {
    border-right: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #202846;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    align-items: center;
    height: 90px;
    padding-left: 138px;
}

.navigation-list {
    display: flex;
    list-style: none;
    margin: 0 auto;
    justify-content: space-between;
    margin-right: 10px;

}

.navigation-list li a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    margin-right: 10px;
    height: 57px;
    width: 170px;
    align-items: center;
}

.hotel {
    padding: 28px 87px 28px 103px;
    background-color: #BDBDC6;
}

.hotel img {
    width: 485px;
    height: 244px;
    margin: 0 102px 0 0;
}

h4.hotel-name {
    border-bottom: 3px solid white;
    margin-bottom: 5px;
}

.hotel {
    position: relative;
}

.star {
    position: absolute;
    right: 10px;
    top: 10px;
}

.hotel .star:hover>svg>path {
    fill: gold;
}

.details {
    position: absolute;
    bottom: 10px;
    right: -20px;
    background-color: #202846;
    color: #ffffff;
    width: 200px;
    height: 60px;
    font-size: 20px;
    border-radius: 30px;
    border-color: #202846;
}

.page-heading {
    height: 140px;
    background-color: #c6c6dc;
    box-sizing: border-box;
    padding-left: 227px;
    font-size: 48px;
    padding-top: 46px;
    font-weight: 400;
    font-style: italic;
    color: #202846;
}

.main {
    padding: 185px 0 51px;
}

.hotels-list {
    width: 1489px;
    margin: 0 auto;
}

.hotel {
    display: flex;
    margin-bottom: 36px;
}

.hotel-name {
    color: #353C57;
    font-size: 36px;
    font-weight: 700;
}

.hotel-description {
    background-color: #D7D7DD;
    color: #202846;
    font-size: 22px;
    text-align: center;
    width: 712px;
    height: 184px;
    padding: 21px 24px 28px 23px;
}

.footer {
    background-color: #202846;
    color: #EEECF1;
    font-size: 36px;
    font-style: italic;
    padding: 21px 60px;
}

.arrow {
    position: fixed;
    bottom: 100px;
    right: 30px;
}