* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ddd;
}

.logo-container {
    padding: 30px;
}

.title {
    color: darkgrey;
    height: 30px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 512px;
    height: 512px;
    background-color: white;
}

.logo-wrapper.align-left {
    justify-content: left;
}

.logo-wrapper.align-right {
    justify-content: right;
}

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-circle {
    border-radius: 50%;
    height: 444px;
    width: 444px;
}

.row {
    display: flex;
    margin-bottom: 30px;
}

.bgc-flag {
    background-image: linear-gradient(to bottom, #2137FC, #2137FC 50%, #FFCE22 50%, #FFCE22);
}

.glyph-bottom {
    width: 359px;
    height: 204px;
    padding: 210px 0 0 50px;
}

.glyph-center {
    width: 400px;
    height: 227px;
    padding: 5px 0 0 25px;
}

.petcube-left {
    width: 342px;
    height: 393px;
}

.petcube-center {
    width: 278px;
    height: 320px;
}

.spark-right {
    width: 339px;
    height: 386px;
    padding-top: 125px;
}

.spark-center {
    width: 281px;
    height: 320px;
}

.bgc-black {
    background-color: #000;
}

.flag-left-top::before,
.flag-right-top::after,
.flag-center-bottom::before {
    content: '';
    width: 80px;
    height: 60px;
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, #2137FC, #2137FC 50%, #FFCE22 50%, #FFCE22);
}

.flag-left-top::before {
    left: 21px;
    top: 23px;
}

.flag-right-top::after {
    right: 21px;
    top: 27px;
}

.flag-center-bottom::before {
    bottom: 109px;
    left: 216px;
}
