@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Flex', sans-serif;
}

.main {
    width: 975px;
    margin: 20px auto;
}

.image-wrapper {
    margin-bottom: 30px;
}

.figure-centered {
    width: 731px;
    margin: 0 auto;
}

.figure img {
    width: 100%;
}

.image-wrapper h4 {
    margin-bottom: 25px;
    font-weight: 800;
    font-size: 24px;
}

.image-wrapper figcaption {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.long-image {
    overflow-x: scroll;
}

.figure-long img {
    width: unset;
    display: block;
}

.screenshot {
    width: 398px;
    border: 1px solid grey;
}

.figure-circle {
    width: 150px;
    border-radius: 50%;
}