@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=M+PLUS+1p:wght@100;300;400&family=Marcellus&family=Marcellus+SC&display=swap');

* {
    padding: 0;
    margin: 0;
}

a:hover {
    cursor: pointer;
}

.header {
    text-align: center;
    max-height: 70px;
    color: #3E45E8;
    font-size: 48px;
    font-family: 'M PLUS 1p', sans-serif;
    letter-spacing: 2px;
    font-weight: 400px;
    padding: 20px 0;
}

.header div span {
    color: #E8C23E;
}

.banner {
    height: 803px;
    background-image: url("../img/img1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 195px 80px;
    box-sizing: border-box;
}

.banner-text {
    color: #FFFFFF;
    font-family: 'Inika', serif;
    font-size: 48px;
    font-weight: 700;
    background-image: url("../img/flag.png");
    height: 272px;
    background-repeat: no-repeat;
    width: 85%;
    max-width: 1050px;
    padding-left: 35px;
    box-sizing: border-box;
}

.main {
    font-family: 'Inika', serif;
    padding: 72px 60px;
}

.main-banner {
    font-size: 40px;
    font-weight: 700;
    color: black;
}

.line1 {
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin: 25px 0 0;
}

.card {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    height: 37vw;
    border-radius: 40px;
    box-sizing: border-box;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin: 0 1.25%;
}

.cards-wrapper {
    padding: 33px 0 0;
}

.card-image {
    display: inline-block;
    width: 100%;
}

.card-image img {
    width: 100%;
}

.card-title {
    color: #1E8DF2;
    font-size: 24px;
    font-weight: 700;
    padding: 16px 10px;
    box-sizing: border-box;
}

.card-title a {
    color: #1E8DF2;
    text-decoration: none;
}

.card-text {
    color: #E8C23E;
    font-size: 20px;
    box-sizing: border-box;
    padding: 10px;
}

.middle-banner {
    font-size: 40px;
    font-weight: 700;
    color: black;
    text-align: center;
    margin: 0 0 21px;
}

.line2 {
    border-bottom: 5px solid #3E45E8;
    width: 568px;
    margin: 0 auto 41px;
}

.map {
    width: 817px;
    margin: 0 auto 41px;
}

.support {
    display: block;
    margin: 0 auto;
    width: 591px;
    height: 121px;
    background-color: #2A61F0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: 'Inika', serif;
    font-size: 64px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    line-height: 121px;
}

.footer-block {
    background-color: #2F4A4B;
    text-align: center;
    margin-top: 20px;
}

.footer-block-help {
    max-height: 70px;
    color: #3E45E8;
    font-size: 48px;
    font-family: 'M PLUS 1p', sans-serif;
    letter-spacing: 2px;
    font-weight: 400px;
    padding: 20px 0;
}

.footer-block-help span {
    color: #E8C23E;
}

.footer-mail,
.footer-block-tel {
    font-family: 'Marcellus SC', serif;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 20px;
    height: 49px;
}

.footer-mail a,
.footer-block-tel a {
    text-decoration: none;
    color: #A89D9D;
}

.social li {
    display: inline-block;
    list-style: none;
}