html {
    font-size: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rosario', sans-serif;
}

.wrapper {
    padding-top: 129px;
}


.header-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 129px;
    overflow: hidden;
}

.nav-item {
    list-style: none;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    line-height: 129px;

}

.nav-item a {
    display: inline-block;
    padding: 0 1.3rem;
    line-height: 100%;
    text-decoration: none;
    color: #FFFCFC;
    cursor: pointer;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 6px;
}

.logo {
    background-color: #FFFBFB;
}

.team-container,
.service-container,
.gallery-container,
.contact-container {
    background-color: white;
    height: calc(100vh - 129px);
    overflow: hidden;
}

.gallery-container {
    padding: 0 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gallery-narrow img {
    width: 18vw;
}

.gallery-wide img {
    width: 24vw;
}

.gallery-center-left,
.gallery-center-right {
    display: flex;
    gap: 4rem;
    flex-direction: column;
    justify-content: space-between;
}

.gallery-center-left {
    position: relative;
    animation: slide-left 1s linear;
    justify-content: center;
}

.gallery-center-right {
    position: relative;
    animation: slide-right 1s linear;
    justify-content: center;
}

.gallery-left {
    position: relative;
    animation: slide-left 2s linear;
}

.gallery-right {
    position: relative;
    animation: slide-right 2s linear;
}

@keyframes slide-left {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

@keyframes slide-right {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}

@keyframes rotate-left {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-right {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.service-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-wrapper {
    display: flex;
    flex-direction: row;
    width: 53vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 3vw;
    height: 50vw;
    animation: rotate-left 5s linear infinite;
}

.style-wrap-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18vw;
    animation: rotate-right 5s linear infinite;
}

.style-wrap-wrap img {
    width: 100%;
}

.style-title {
    font-size: 2vw;
    font-weight: 700;
    font-style: italic;
    color: #000;
    width: 100%;
    text-align: center;
}

.right-background {
    background-image: url(../img/barber.png);
    height: 100%;
    width: 47vw;
    background-repeat: no-repeat;
    background-position: right;
}

.team-wrapper {
    padding: 0 2vw;
}

.team-text {
    font-size: 7.2rem;
    font-weight: 700;
    text-align: center;
    line-height: 180px;
}

.team-pics {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.team-photo {
    border-radius: 40px;
    width: 21vw;
    height: calc(100vh - 350px);
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: opacity 1s ease-in-out;
    background-blend-mode: normal;
    overflow: hidden;
}

.team-photo1 {
    background-image: url(../img/meredith.png);
}

.team-photo2 {
    background-image: url(../img/jason.png);
}

.team-photo3 {
    background-image: url(../img/ryan.png);
}

.team-photo4 {
    background-image: url(../img/james.png);
}

.team-name {
    position: relative;
    bottom: -12rem;
    color: #FFFAFA;
    height: 12rem;
    width: 100%;
    text-align: center;
    border-radius: 0 0 40px 40px;
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 4rem;
    line-height: 12rem;
    background: #A3530AB2;
    transition: bottom .4s ease-out;
}

.team-photo:hover .team-name {
    bottom: 0;
}

.contact-container {
    padding: 50px 10vw 0;
}

.contact-wrap {
    display: flex;
    margin-bottom: 6.3rem;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    margin-right: 34px;
    height: calc(100vh - 430px);
    min-height: 490px;
}

iframe {
    width: 35vw;
    height: calc(100vh - 430px);
    min-height: 490px;
}

.contact-title {
    font-size: 4rem;
    font-weight: 700;
    font-style: italic;
    color: #000;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 17px;
    min-width: 80%;
}

.message {
    background: #E5E5E5;
    height: 100%;
    padding: 34px 26px;
}

.contact-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

::placeholder {
    font-size: 2.8rem;
    font-weight: 700;
}

.form-textarea {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.contact-form input {
    width: 45%;
    height: 80px;
    border: none;
}

.form-textarea textarea {
    resize: none;
    height: 200px;
    border: none;
}

.footer {
    display: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer li {
    list-style: none;
}

.footer a {
    text-decoration: none;
    color: #000;
}

.footer-info,
.footer-opening,
.footer-connect {
    font-size: 2.1rem;
    font-weight: 600;
    font-style: italic;
}

.opening-title {
    margin-bottom: 3rem;
}

.footer-info span {
    font-weight: 700;
}

.opening-title,
.connect-title {
    font-weight: 700;
}

.inst::before {
    content: "";
    background-image: url(../img/inst.svg);
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: 0%;
    padding: 20px;
}

.fb::before {
    content: "";
    background-image: url(../img/fb.svg);
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: 0%;
    padding: 20px;
}

.twit::before {
    content: "";
    background-image: url(../img/twit.svg);
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: 0%;
    padding: 20px;

}

@media screen and (max-width: 992px) {
    html {
        font-size: 7px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 5px;
    }

    .contact-container {
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .contact-content {
        width: 59vw;
    }
}


@media screen and (min-width: 1620px) {
    html {
        font-size: 12px;
    }


}