@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #212529;
    min-width: 1100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}

.nav {
    list-style: none;
    display: flex;
}

li.nav-item>a,
.header-btn {
    text-decoration: none;
    color: #ffffff;
    padding: 25px 12.5px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

}

li.nav-item>a:hover {
    color: #FFB742;
    cursor: pointer;
    transition: all .4s;
}

.header-btn {
    padding: 12px 26px;
    background-color: #FFB742;
    border-radius: 50px;
    color: black;
}

.info {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 110px auto;

}

.info-name {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
}

.info-name>a {
    color: #FFB742;
}

.info-title {
    font-size: 48px;
    font-weight: bold;
    margin-top: 12px;
}

.info-subtitle {
    font-size: 24px;
    margin-top: 25px;
}

.info-image {
    margin-top: 22px;
}

.achieve {
    color: #ffff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 65px;
    text-align: center;
}

.achieve-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 60px;
    margin: 0 auto;

}

.achieve-box {
    border-radius: 10px;
    background-color: #292B2E;
    display: flex;
    justify-content: space-between;
    width: 33%;
    margin: 0 12px;
    padding: 25px 30px;
    align-items: center;

}

.achieve-title {
    color: #FFB742;
    font-size: 32px;
    font-weight: 700;
}

.achieve-box:hover {
    background-color: #FFB742;
    color: black;
    cursor: pointer;
    transition: all .4s;
}

.achieve-box:hover svg path {
    fill: black;
}

.achieve-box:hover .achieve-title {
    color: black;
}

#about {
    display: flex;
    flex-direction: row;
    padding: 65px 30px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
}

.about-box {
    width: 50%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #FFB742;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #292B2E;
    border-radius: 50px;
    width: fit-content;
}

.about-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 30px;
}

.about-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #d4d4d4;
    margin-bottom: 55px;
}

.photo img {
    width: 100%;
}

.work-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px 100px 100px;
}

.nav-work {
    margin-bottom: 40px;
}

li.work-link>a {
    text-decoration: none;
    color: #ffffff;
    padding: 25px 12.5px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

li.work-link>a:hover {
    background-color: #FFB742;
    color: #212529;
    cursor: pointer;
    transition: all .4s;
    padding: 5px 20px;
    border-radius: 3px;
}

.work-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.work-item {
    width: 32%;
    margin-bottom: 1vw;
}

.work-item img {
    width: 100%;
}

footer {
    font-family: 'Work Sans', sans-serif;
    background-color: #1C1C1C;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 50px;
}

footer a:visited {
    color: #7B7B7B;
}

.name-title {
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;

}

.name-subtitle {
    color: #d4d4d4;
    font-weight: 600;
    font-size: 16px;

}

.footer-title {
    color: #F5FBF2;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 17px;

}

.footer-item li,
.footer-subtitle {
    list-style: none;
    color: #7b7b7b;
    font-size: 18px;
    font-weight: 500;
}

.footer-item-wrap {
    width: 310px;
    line-height: 1.7;
}

li.footer-item-list>a {
    list-style: none;
    text-decoration: none;
    color: #7b7b7b;
    line-height: 1.7;
}

footer a:active {
    color: #FFB742;
    opacity: 0.5;

}