* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}


.main {
    margin: 0 auto;
    background-color: #FFB084;
    border-radius: 20px;
    margin: 0 auto;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3.49vh 2.52vw;
    height: 100vh;
    padding: 5.88vh 5.43vw;
}

.grid-wrapper div {
    border-radius: 20px;
    background-color: white;
}

.grid-wrapper div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/5;

}

.grid-wrapper div:nth-child(2) {
    grid-column: 2/4;
    grid-row: 1/3;
}

.grid-wrapper div:nth-child(4) {
    grid-column: 3/4;
    grid-row: 3/5;
}

.grid-wrapper div:nth-child(5) {
    grid-column: 2/3;
    grid-row: 4/6;
}

.about,
.bio,
.goals,
.frustrations,
.dream-companies,
.quote,
.personality {
    padding: 3.27vh 3.31vw;
    font-size: 1.854vw;
    list-style-position: inside;
    font-weight: 400;
}

.about,
.bio,
.quote,
.personality {
    box-shadow: 7px 7px 0px black;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.1vw;
    margin: 0 auto;

}

.about li {
    list-style: none;
    font-size: 1.589vw;
}

.about-age {
    display: flex;
    justify-content: space-between;

}

.about .photo {
    border: none;
    padding-top: 3.7vh;
    padding-bottom: 3.7vh;
}

.about h1 {
    font-size: 3.162vw;
    font-weight: 700;
}

.about .span-li {
    font-weight: 600;
    font-size: 1.589vw;
    text-align: justify;
    line-height: 1.5;
}

.bio h2,
.personality h2,
.goals h2,
.frustrations h2,
.dream-companies h2 {
    font-size: 1.854vw;
    padding-bottom: 1.525vh;
}

.bio-text {
    display: flex;
    flex-direction: column;
}

.goals {
    box-shadow: 7px 7px 0px #29A71E;
}

.goals h2 {
    color: #29A71E;
}

.dream-companies {
    box-shadow: 7px 7px 0px #3675B0;
}

.dream-companies h2 {
    color: #3675B0;
}

.frustrations {
    box-shadow: 7px 7px 0px #E13535;
}

.frustrations h2 {
    color: #E13535;
}

.quote {
    vertical-align: middle;
    align-self: center;
}

.personality {
    font-size: 1.854vw;

}

.quote h2 {
    font-weight: 700;
    align-items: center;
    font-size: 1.854vw;
}

@media screen and (min-width: 1800px) {
    .bio,
    .goals,
    .frustrations,
    .dream-companies,
    .personality {
        font-size: 1.55vw;
    }
}