@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
    box-sizing: border-box;

}

.container {
    min-width: 700px;
    max-width: 1000px;
    font-family: 'Public Sans', sans-serif;
    margin: 0 auto;
    padding: 64px 45px;
}

.head {
    font-size: 24px;
    font-weight: 700;
    color: #171717;
    padding-bottom: 79px;
}

.star {
    color: red;
}

.mandatory {
    font-size: 14px;
    font-weight: 400;
    color: #171717;
    padding-bottom: 24px;
}

.info {
    font-size: 20px;
    font-weight: 700;
    color: #171717;
    padding-bottom: 24px;
}


.input-wrapper label {
    margin-bottom: 8px;
}

.date input {
    background: #EFEFEF;
    color: #747474;
    ;

}

.input-wrapper select,
.input-wrapper input {
    height: 35px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    font-family: 'Public Sans', sans-serif;

}

.form-section {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 32px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.input-wrapper {
    width: 46%;
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
}

.app-reg[option] {
    color: #0050D8;
}

.search {
    background-image: url('../img/search-line.svg');
    background-repeat: no-repeat;
    background-position: 97%;
}

.search-last::placeholder {
    color: #0050D8;
}

.app-reg {
    color: #0050D8;
}

.button {
    display: flex;
    justify-content: end;
}

.btn {
    background-color: #0050D8;
    color: white;
    border-radius: 4px;
    height: 40px;
    width: 69px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    border: none;
}

.check {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-wrapper {
    font-size: 16px;
    font-weight: 500;
}

.input-wrapper.check label {
    margin-bottom: 0;
}

.input-wrapper.check input {
    margin-right: 8px;
}

.input-wrapper input,
.input-wrapper select {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
}